@charset "UTF-8";
/* CSS Document */
:root {
	--azul: #2222FF;
	--rubik: 'Rubik', sans-serif;
}
html {
    font-size: 20px;
    line-height: 1.5;
    text-rendering: optimizeLegibility !important;
}
img, video {
    width: 100%;
}
body {
    background-color: #FFFFFF;
    color: var(--azul);
    margin: 0;
	height: auto;
	font-weight: 400;
}
p, h1, h2, h3, h4 {
    font-family: var(--rubik)
}
a {
	text-decoration: none;
}
.conteudo .grid-interna a {
	text-decoration: underline;;
}
.conteudo .grid-interna a:hover {
	color: #333;
}
a:visited {
	text-decoration: none;
	color: inherit;
}
a:active {
	color: var(--azul);
}
a:hover {
	text-decoration: underline;
}
header {
	height: 1rem;
	display: flex;
	border-bottom: solid 2px var(--azul);
	background: #FFF;
	position: sticky;
	top: 0;
	justify-content: space-between;
	z-index: 5;
	padding: 1rem 0;
	align-items: center;
}
header p, header h1 {
	padding-left: 0.75rem;
	margin: 0;
	align-self: center;
	font-size: 1.25em;
}
header h1 {
	font-weight: 400;
}
header .header-direita {
	display: flex;
	margin-right: 0.5rem;
}
header .header-direita p {
	font-size: 0.9rem;
	padding-left: 0.75rem;
}
.conteudo {
	min-height: calc(100vh - 3rem - 6px);
}
.conteudo .grid-interna {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) repeat(11, minmax(1px, 5rem)) minmax(1rem, 1fr);
}
.conteudo .grid  {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: calc(50vh - 1.5rem - 1px);
	width: calc(100vw - 2px);
	margin: 0 auto;
	border-top: none;
	position: relative;
	top: -1px;
}
.conteudo .grid-item {
	border: solid 1px var(--azul);
	outline: solid 1px var(--azul);
	position: relative;
	display: flex;
}
.conteudo .grid-txt {
	align-self: center;
	width: 100%;
	height: 100%;
	position: relative;
	justify-content: center;
	display: flex;
	opacity: 0;
	background: #FFF;
	padding: 0 4rem;
}
.conteudo .grid-txt p {
	text-align: center;
	font-weight: 400;
	position: relative;
	align-self: center;
	font-size: 1rem;
}
.conteudo .grid-img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.conteudo .grid-img:before {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--azul);
	content: "";
	z-index: -1;
	display: none;
}
.conteudo .grid-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	/*mix-blend-mode: lighten;
	filter: grayscale(100%);*/
	z-index: -1;
}
/*.conteudo .grid-item:hover .grid-img img {
	mix-blend-mode: normal;
	filter: none;
}*/
.conteudo .grid-item:hover .grid-txt, .conteudo .grid-item:active .grid-txt {
	opacity: 1;
}
.conteudo p, .conteudo h2, .conteudo h3 {
	grid-column: 4 / 11;
	font-size: 0.825rem;
	font-weight: 400;
}
.conteudo .item-cv {
	font-size: 1.375rem;
	margin-bottom: 1rem;
	line-height: 1.2;
}
.conteudo .item-cv::after {
	content: "";
	width: 100%;
	display: block;
	position: relative;
	height: 2px;
	background: var(--azul);
	margin-top: 0.25rem;
}
.conteudo ul {
	grid-column: 4 / 11;
	padding-left: 0;
	list-style: none;
	margin: 0;
}
.conteudo ul li {
	margin-bottom: 1.5rem;
}
.conteudo ul p {
	margin: 0;
}
.conteudo ul .empresa {
	font-size: 1.125rem;
	text-transform: lowercase;
	margin-bottom: 0;
	margin-top: 0;
	text-decoration: underline;
}
.conteudo ul .cargo {
	font-size: 1rem;
	text-transform: lowercase;
	margin-top: 0.25rem;
}
.conteudo .maior {
	font-size: 1rem;
	text-transform: lowercase;
	margin: 0;
}
.conteudo ul .periodo {
	font-size: 0.675rem;
	margin-bottom: 0.5rem;
}
.conteudo ul .descricao {
	margin-bottom: 0.75rem;
	font-size: 0.75rem;
	/* text-transform: lowercase;*/
}
.conteudo #competencias {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	column-gap: 2rem;
}
.conteudo #competencias li {
	margin-bottom: 0.5rem;
	max-width: calc(50% - 1rem);
	flex-shrink: 2;
}
.conteudo h2 {
	font-size: 2rem;
	margin-bottom: 0;
	margin-top: 2rem;
	line-height: 1.2;
}
.conteudo h3 {
	font-size: 1.375rem;
	margin-bottom: 0;
	text-transform: lowercase;
	line-height: 1.2;
	margin-top: 3rem;
}
.conteudo .data {
	margin-bottom: 0.5rem;
	margin-top: 0;
	display: inline-block;
}
/* .conteudo .titulo::after {
	content: "";
	position: relative;
	width: 100%;
	height: 2px;
	background-color: var(--azul);
	top: 0.25rem;
	display: inline-block;
}*/
.conteudo .imagem-capa {
	width: calc(100% - 4px);
	border-bottom: solid 2px var(--azul);
	grid-column: 1 / 14;
	border-left: solid 2px var(--azul);
	border-right: solid 2px var(--azul);
	max-height: calc(100vh - 3rem - 4px - 140px);
}
.conteudo .imagem-capa img {
	max-height: calc(100vh - 3rem - 4px);
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.conteudo .conteudo-foto {
	grid-column: 2 / 13;
	text-align: center;
}
.conteudo .expediente {
	grid-column: 6 / 9 !important;
}
.conteudo .expediente p {
	font-size: 0.6em;
}
.conteudo .legenda-foto {
	text-transform: uppercase;
	font-size: 0.65rem;
	font-weight: 400;
	text-align: center;
}
footer .footer {
	display: flex;
	justify-content: space-between;
	border-top: solid 2px var(--azul);
	margin-top: 2rem;
	padding: 0 0.75rem;
}
footer .footer p {
	font-size: 0.9rem;
}
.conteudo .img-mobile {
	display: none !important;
}
.conteudo video.img-mobile {
	max-width: 320px;
	display: inherit !important;
	margin: 1rem auto 0;
}
.borda-azul {
	border: solid 2px var(--azul);
}
	@media only screen and (min-width: 1720px) {
		.conteudo .grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media only screen and (max-width: 1141px) {
		.conteudo .grid {
			grid-template-columns: repeat(2, 1fr);
		}
		.conteudo .grid-item:active .grid-txt {
			opacity: 1;
		}
	}
	
	@media only screen and (max-width: 721px) {
		html {
			font-size: 18px;
		}
		.conteudo .grid {
			grid-template-columns: repeat(1, 1fr);
		}
		.conteudo p, .conteudo ul, .conteudo h2, .conteudo h3 {
			grid-column: 3 / 12;
		}
		.conteudo .conteudo-foto {
			grid-column: 2 / 13;
		}
		header {
			align-items: baseline;
		}
		header p {
			padding-left: 0.5rem !important;
		}
		.conteudo #competencias li {
			margin-bottom: 0.5rem;
			max-width: 100%;
		}
		.conteudo .img-mobile {
			display: inherit !important;
		}
		.conteudo .img-desk {
			display: none !important;
		}
		.conteudo video.img-mobile {
			max-width: 400px;
			display: inherit !important;
			margin: 0 auto;
		}
	}
	@media only screen and (max-height: 639px) {
		.conteudo .grid {
			grid-auto-rows: calc(100vh - 3rem - 2px);
		}
	}
